*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

:root{
	--gap:.5em;
	--index: calc(1vw + 1vh);
	--color-dark: rgb(19, 0, 0);
}

body{
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header{
	position: absolute;
	text-transform: uppercase;
	font-family: 'Koulen';
	letter-spacing: 4px;
	font-size: calc(var(--index)*3);
	text-align: center;
	opacity: .9;
	line-height: 1.5;
	margin-top: 1em;
}
.header span{
	display: block;
	font-size: calc(var(--index));
	opacity: .7;
	margin-left: calc(var(--index)*0.8);
	margin-top: 5px;
}
.gallery {
	width: 40vw;
	column-width: 2em;
	gap:var(--gap);
	transform: scale(8);
	will-change: transform;
	transition: transform 0.1s ease;
}
.galery__item {
	margin-bottom: var(--gap);
	transform: scale(1.0001);
}
.galery__item img{
	width: 100%;
}